.nav-menu li{
    font-weight: 1000; 
    background-color: salmon;
}

.nav-menu:hover li a{
    color: slateblue;
}

.nav-menu li a{ 
    margin: 5px;
    color:purple;
}

.nav-menu::before li a{ 
    margin: 5px;
    color:blueviolet;
}
